{% extends 'AdminPage.html' %}
{% block body %}
<div class="content" xmlns="http://www.w3.org/1999/html">
        <div class="container mt-3 ">
            <div class="row">
                <div class="col-12 bg-success">
                    <h2 class="my-4 fw-bold text-white">Bookings</h2>
                </div>
            </div>
        </div>
      <div class="container mt-3">
            <div class="row">
                       <div class="col-6 ms-auto me-auto bg-secondary rounded fs-5 d-inline-flex">
                           <div class="ms-auto me-auto d-inline-flex">
                            <p class="my-2 mx-3">Status:</p>
                                <form action="AdminViewConnections" method="post">
                                   {%csrf_token%}
                                  <select name="action" class="my-2 mx-3 ">
                                        <option value="New Connection" {% if option == 'New Connection' %} selected {%endif%}>New Connection </option>
                                      <option value="Onhold Connection" {% if option == 'Onhold Connection' %} selected {%endif%}>Onhold Connection</option>
                                      <option value="Accepted Connections" {% if option == 'Accepted Connections' %} selected {%endif%}>Accepted Connections </option>
                                      <option value="Rejected Connections" {% if option == 'Rejected Connections' %} selected {%endif%}>Rejected Connections </option>
                                    </select>
                                    <button type="submit" class="btn btn-success my-2 mx-3 d-inline-flex  ">Search</button>
                                </form>
                            </div>
                       </div>

    {% if data %}
       <div class="container mt-3">
            <div class="row">
                <div class="col-12 ">
                    <table class="table table-secondary table-bordered text-center my-5 ">
                          <thead>
                            <tr class="ms-auto">
                              <th scope="col">Name</th>
                              <th scope="col">Address</th>
                              <th scope="col">Gender</th>
                              <th scope="col">Connection Type</th>
                                <th>View Details</th>
                                   <th>Delete</th>
                            </tr>
                          </thead>
                        {%for i in data %}
                          <tbody>
                            <tr>
                              <td>{{i.Con_name}}</td>
                              <td>{{i.Con_Address}}</td>
                              <td>{{i.Con_gender}}</td>
                                <td>{{i.Con_for}}</td>
                              <td class=""> <form method="get" action="AdminViewConnectionsdetails">
                                    <input type="hidden" name="item_id" value="{{ i.Con_id }}">
                                    <button type="submit" class="btn btn-primary">View Details</button>
                                </form></td>
                              <td class=""> <form method="get" action="AdminViewConnectionsdetails">
                                    <input type="hidden" name="item_id" value="{{ i.Con_id }}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form></td>
                            </tr>
                          </tbody>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
{% else %}
       <div class="d-flex justify-content-center h-100">
           <h1 class="mx-auto">No Connection </h1>
       </div>

 {% endif %}

<script>
    function validateForm() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"][name="check"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                return true;
            }
        }
        alert('Please select at least one booking to update.');
        return false;
    }
</script>
{% endblock %}