<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  href="{%static '/css/NewStyle.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

</head>
<body class="">
<nav class="navbar navbar-expand-lg  h-auto ">
  <div class="container-fluid">
      <a class="navbar-brand fs-1 fw-bold ms-5" href="employeeDashboard"><span class="logo"><i class="fas fa-sun "></i></span>Inside Gas</a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
       <div class="collapse navbar-collapse text-center " id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto me-5 fs-5 ">
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="employeeDashboard">Dashboard</a>
        </li>
               <li class="navbar-item1 dropdown px-1">
                  <a class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" href="Forhome">Bookings</a>
                   <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="EmployeeViewNewBookings">New Bookings</a></li>
                       <li><hr class="dropdown-divider"></li>
                        <li><a href="EmpViewConformedBooking" class="dropdown-item">Conformed Bookings</a> </li>
                       <li><hr class="dropdown-divider"></li>
                        <li><a href="EmpViewOntheWayBookings" class="dropdown-item">On The Way Bookings</a> </li>
                       <li><hr class="dropdown-divider"></li>
                        <li><a href="EmpViewDeliveredbookings" class="dropdown-item">Delivered Bookings</a> </li>
                       <li><hr class="dropdown-divider"></li>
                       <li><a href="EmployeeViewCancelledBookings" class="dropdown-item">Canceled Bookings</a> </li>
                   </ul>
              </li>
               <li class="navbar-item dropdown px-1">
                  <a class="nav-link dropdown-toggle"href="Forhotel"  data-bs-toggle="dropdown">Connections</a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="empviewnewconnection">New Connections</a></li>
                        <li><a class="dropdown-item" href="EmpViewOnholdConnection">OnHold Connections</a></li>
                        <li><a class="dropdown-item" href="EMpViewApprovedConnections">Approved Connections</a></li>
                         <li><a class="dropdown-item" href="EmpViewRejectedConnection">Rejected Connections</a></li>
                     </ul>
              </li>
               <li class="navbar-item dropdown px-1 ">
                  <a class="nav-link dropdown-toggle"href=""  data-bs-toggle="dropdown"><i class="fa-solid fa-user-pen"></i></i></a>
                     <ul class="dropdown-menu" style="margin-left: -37px;">
                        <li><a class="dropdown-item" href="">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="out">logout</a></li>
                     </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>

<div class="main-container d-flex bg-light">
    <div class="sidebar" id="side_nav">
        <div class="header-box">

        </div>
        <ul class="list-unstyled px-2 side-menu-employee fs-5 mt-4">
            <li class="ms-3 "><a class="text-decoration-none" href="employeeDashboard">Dashboard</a> </li>
            <li class="navbar-item dropdown ms-3">
                  <a class="nav-link dropdown-toggle"href=""  data-bs-toggle="dropdown">Delivery Staff</a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="EmployeeViewDStaff">View Delivery Staff</a></li>
                         <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="EmpAddDStaff">Add Delivery Staff</a></li>
                         <li><hr class="dropdown-divider"></li>
                     </ul>
              </li>
            <li class="ms-3"><a class="text-decoration-none" href="EmpViewConformedBooking">Assign Bookings</a> </li>
            <li class="navbar-item dropdown ms-3">
                  <a class="nav-link dropdown-toggle"href=""  data-bs-toggle="dropdown">Cylinder</a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="EmployeeManageCylnder">Manage Cylinder</a></li>
                         <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="EmAddcylinder">Add Cylinder</a></li>
                         <li><hr class="dropdown-divider"></li>
                     </ul>
              </li>
            <li class="navbar-item dropdown ms-3">
                  <a class="nav-link dropdown-toggle"href=""  data-bs-toggle="dropdown"> Accessories</a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="empviewaccessories">View Accessories</a></li>
                         <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="EmployeeAddAccess">Add Accessories</a></li>
                         <li><hr class="dropdown-divider"></li>
                     </ul>
              </li>
            <li class="ms-3"><a class="text-decoration-none" href="">Users</a> </li>
        </ul>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show  w-50 position-absolute mt-5 text-center" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="content " style="overflow:hidden;">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 bg-success">
                    <h2 class=" my-4 fw-bold text-white">Employee Dashboard</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 mt-5 d-inline-flex rounded-3 px-4 mx-2 Dashboard_Quick_acss_width" style="background-color: palegreen;">
                    <a href="" class="Dashboard_Quick_acss mt-4 "><i class="fa-solid fa-bottle-droplet" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black  ">New<br>Connections<br>{{newCon}}</a>
                </div>
                <div class="col-3  mt-5 d-inline-flex rounded-3 px-4 mx-2 Dashboard_Quick_acss_width" style="background-color: bisque;">
                    <a href="" class="Dashboard_Quick_acss mt-4 "><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black  ">Approved<br>Connections<br>{{ApproveCon}}</a>
                </div>
                <div class="col-3  mt-5 d-inline-flex rounded-3 px-4 mx-2 Dashboard_Quick_acss_width"style="background-color: cadetblue;">
                    <a href="" class="Dashboard_Quick_acss mt-4 "><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black  ">Onhold<br>Connections<br>{{onholdCon}}</a>
                </div>
                <div class="col-3  mt-5 d-inline-flex rounded-3 px-4 mx-2 Dashboard_Quick_acss_width" style="background-color: skyblue;">
                    <a href="" class="Dashboard_Quick_acss mt-4 "><i class="fas fa-bars" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black ">Rejected<br>Connections<br>{{rejectCon}}</a>
                </div>
                <div class="col-3  mt-3 d-inline-flex rounded-3 px-4 mx-2 Dashboard_Quick_acss_width" style="background-color: salmon;">
                    <a href="" class="Dashboard_Quick_acss mt-4 "><i class="fa-solid fa-bottle-droplet" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black ">New<br>Bookings<br>{{newbooking}}</a>
                </div>
                <div class="col-3  mt-3 d-inline-flex rounded-3 px-4 mx-2 Dashboard_Quick_acss_width" style="background-color: turquoise;">
                    <a href="" class="Dashboard_Quick_acss mt-4"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black  ">Conformed<br>Bookings<br>{{Conformed}}</a>
                </div>
                <div class="col-3  mt-3 d-inline-flex rounded-3 px-4 mx-2 Dashboard_Quick_acss_width" style="background-color: pink;">
                    <a href="" class="Dashboard_Quick_acss mt-4"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black  ">Cancelled<br>Bookings<br>{{cancel}}</a>
                </div>
                <div class="col-3  mt-3  d-inline-flex rounded-3 px-4 mx-2 Dashboard_Quick_acss_width"  style="background-color: yellow;">
                    <a href="" class="Dashboard_Quick_acss mt-4"><i class="fas fa-bars" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black ">Assigned<br>Bookings<br>{{assigned}}</a>
                </div>


            </div>
        </div>
<div class="container " style="
    margin-left: 106px;
    overflow: hidden;">
            <div class="row">
                    <div class="col-3  mt-3 d-inline-flex rounded-3 px-4 ms-2 mx-3" style="background-color:powderblue;">
                    <a href="" class="Dashboard_Quick_acss mt-2 "><i class="fas fa-bars" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black  ">Total Delivery<br>cylinder<br>2</a>
                    </div>

                <div class="col-3  mt-3 d-inline-flex rounded-3 px-4 mx-3 " style="background-color:powderblue;">
                    <a href="" class="Dashboard_Quick_acss mt-2"><i class="fas fa-bars" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black ">Total Delivery<br>Staff<br>{{total_dStaff}}</a>
                    </div>
                <div class="col-3  mt-3 d-inline-flex rounded-3 px-4 mx-3 " style="background-color:powderblue;">
                    <a href="" class="Dashboard_Quick_acss mt-2 "><i class="fas fa-bars" style="color: #ffffff;"></i></a>
                    <a href="" class=" fs-4 my-4 text-center ms-4 text-decoration-none text-black ">Total User<br>{{users}}</a>
                    </div>
            </div>
</div>



    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="js/bootstrap.js"></script>
</body>
</html>