{% extends 'CustomerPage.html' %}
{% load static %}
{% block body %}
<section>
<div class="container-fluid">
    <div class="row bg-danger">
        <div class="col-7 text-white">
            <h6 class="mt-5 lh-lg">LPG SAFETY TIPS FOR F&B</h6>
            <h2 class="fw-bold lh-lg">In order to maintain your F&B establishment's health and function at its peak<br>INSIDE GAS</h2>
            <h5 class="lh-lg">As whatever you do, safety comes first</h5>
        </div>
        <div class="col-5 text-white rounded-3 py-5 ">
            <img class="join-Image  rounded-3 " src="{%static 'image/linkimg.jpg'%}">
        </div>
    </div>
</div>
    <div class="container-fluid">
    <div class="row lh-lg">
        <div class="container-fluid">
    <div class="row lh-lg">
         <div class="col-6 text-white mt-5">
            <img class="join-Image  rounded-3 " src="{%static 'image/linkimg.jpg'%}">
        </div>
                <div class="col-6 lh-lg">
            <h1 class="mt-5 lh-lg d-flex fw-bold">Do's</h1>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Always keep the cylinder in upright position with valve on top.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Always install the cylinder at ground level, keeping the LPG appliance at a higher level.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Retain safety cap with nylon thread attached to the cylinder.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Fix the cap on the valve when cylinder is not in use or to stop leak, if any.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Ensure that there is adequate ventilation at floor level and at top level.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Keep the area clean. Restrict entry to authorized persons only.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Shout and raise alarm/siren in case of unsafe conditions.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> In case of leakage, stop all operations, close all isolation valves.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> In case of valve leakage from cylinder, put the safety cap and take the cylinder to an open space.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Call Fire Brigade, SUPERGAS, if leakage is not controlled.</h5>


        </div>
    </div>
</div>
                <div class="col-6 lh-lg  ">
            <h1 class="mt-5 lh-lg d-flex fw-bold">Don'ts</h1>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Don’t keep the cylinder exposed to sun, rain, dust and heat</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Don’t heat the cylinder directly or indirectly</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Don’t forget to check the cylinder for any leakage from the ‘O’ ring and valve before connecting</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Don’t forget to turn off the valve when the cylinder is not in use</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Don’t keep unconnected cylinders</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Don’t keep any extra material in the LPG shed</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Don’t allow battery-operated instruments inside the LPG shed.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> No smoking inside & around the LPG shed or area.</h5>



        </div>
           <div class="col-6 text-white mt-5">
            <img class="join-Image  rounded-3 " src="{%static 'image/linkimg.jpg'%}">
           </div>
    </div>
</div>


{% endblock %}