<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  href="{%static '/css/NewStyle.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="bg-light background-img">
 <div class="col-md-6 right-box ms-auto mx-auto bg-white my-4 rounded">
          <div class="row ">
                <div class="header-text mb-4">
                     <h2 class="text-center">Hello,</h2>
                     <p class="text-center fs-4 fw-bold">We are happy,you to be a Part of us.</p>
                </div>
			  <form data-toggle="validator"  method="post">
				{% csrf_token %}
					<p class="my-2">Name</p>
					<input type="text" class="form-control" id="inputName" name="cname" placeholder="Enter the Name" required="">
					<p class="my-2">Address</p>
					<input type="text" class="form-control" id="inputName" name="address" placeholder="Enter the Address" required="">
				  <p class="my-2">Gender</p>
				  <div class="form-check form-check-inline my-2">
					  <input type="radio" class="form-check-input" id="option1" name="radiochk">
					  <label for="option1">Male</label>
				  </div>
				  <div class="form-check form-check-inline my-2 ">
					  <input type="radio" class="form-check-input" id="option2" name="radiochk">
					  <label for="option1">Female</label>
				  </div>
				  <p class="my-2">Name of Establishment</p>
					<input type="text" class="form-control" id="inputName" name="cname" placeholder="Enter the Name" required="">
				  <p class="my-2">Address (Establishmnet)</p>
					<input type="text" class="form-control" id="inputName" name="cname" placeholder="Enter the Name" required="">
				  <p class="my-2">Pincode</p>
					<input type="number" class="form-control" id="inputName" name="pincode" placeholder="Enter the Pincode" required="">
				  <p class="my-2">Phone</p>
					<input type="text" class="form-control" id="inputName" name="pincode" placeholder="Enter the Phone" required="">
					<p class="my-2">Location</p>
					<input type="text" class="form-control" id="inputName" name="location" placeholder="Enter the Location" required="">
				  <p class="my-2">District</p>
					<input type="text" class="form-control" id="inputName" name="pincode" placeholder="Enter the District" required="">
				  <p class="my-2">Pincode</p>
					<input type="number" class="form-control" id="inputName" name="pincode" placeholder="Enter the Pincode" required="">
				  <p class="my-2">Email</p>
					<input type="Email" class="form-control" id="inputName" name="pincode" placeholder="Enter the Email" required="">
				  <p class="my-2">Password</p>
					<input type="Password" class="form-control" id="inputName" name="pincode" placeholder="Enter the Password" required="">
				  <div class="input-group mb-3 mt-4">
                    <button class="btn btn-lg btn-primary w-100 fs-6">Register</button>
                </div>
		  </div>
       </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="js/bootstrap.js"></script>
</body>
</html>