{% extends 'CustomerPage.html' %}
{% load static %}
{% block body %}
<section>
<div class="container-fluid">
    <div class="row bg-danger">
        <div class="col-7 text-white">
            <h6 class="mt-5 lh-lg">LPG CONNECTION FOR HOME</h6>
            <h2 class="fw-bold lh-lg">Enhancing safety via knowledgeable guidance and practical experience<br>INSIDE GAS</h2>
            <h5 class="lh-lg">Your safety matters to us the most</h5>
            <input class="Search_Submithome" type="submit" value="Let's GO">
        </div>
        <div class="col-5 text-white rounded-3 py-5 ">
            <img class="join-Image  rounded-3 " src="{%static 'image/linkimg.jpg'%}">
        </div>
    </div>
</div>
    <div class="container-fluid">
    <div class="row lh-lg">
        <div class="col-6 position-absolute ms-3">
            <h1 class="mt-5 lh-lg d-flex fw-bold">When Buying LPG</h1>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Always make sure that you are buying from an authorized franchisee.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Do not forget to check the company seal and safety cap on the cylinder at the time of delivery.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Do not accept the cylinder if the seal is broken.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Do not accept the cylinder if the due date is over.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Do not use open flame to detect leaks.</h5>



        </div>
        <div class="col-6 text-white ms-auto">
            <img class="join-Image  rounded-3 " src="{%static 'image/linkimg.jpg'%}">
        </div>
    </div>
        <div class="container-fluid">
    <div class="row lh-lg">
         <div class="col-6 text-white mt-5">
            <img class="join-Image  rounded-3 " src="{%static 'image/linkimg.jpg'%}">
        </div>
                <div class="col-6 lh-lg">
            <h1 class="mt-5 lh-lg d-flex fw-bold">When Cooking with LPG</h1>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Keep the doors and windows of your kitchen open for proper ventilation.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Do not place flammable or plastic items near the flame.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Never leave your cooking unattended.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Wear clothes that do not catch fire easily.</h5>
            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Close the regulator knob to OFF position when cylinder is not in use</h5>


        </div>
    </div>
</div>
            <div class="container-fluid">
                <div class="row lh-lg">
                    <div class="col-6 position-absolute ms-3 ">
                        <h1 class="mt-5 lh-lg d-flex fw-bold">Maintaining and storing your LPG</h1>
                        <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Disconnect LPG regulator and affix safety cap on the cylinder when your gas stove is not in use for long.</h5>
                        <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Always store the LPG cylinder in an upright position and away from other combustible and flammable materials.</h5>
                        <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> As good practice, change the suraksha tubes once a year .</h5>
                        <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Always use ISI approved tubes, stoves, regulators and LPG appliances.</h5>
                        <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Never tamper with your LPG cylinder.</h5>



                    </div>
                    <div class="col-6 text-white ms-auto mt-5">
                        <img class="join-Image  rounded-3 " src="{%static 'image/linkimg.jpg'%}">
                    </div>

                </div>
        <div class="container-fluid">
            <div class="row lh-lg">
                 <div class="col-6 text-white mt-5">
                    <img class="join-Image  rounded-3 " src="{%static 'image/linkimg.jpg'%}">
                </div>
                        <div class="col-6 lh-lg">
                    <h1 class="mt-5 lh-lg d-flex fw-bold">If in case of an Emergency</h1>
                    <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Close regulator and burner knobs. Do not panic.</h5>
                    <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Open all doors and windows for ventilation.</h5>
                    <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Put the safety cap on the cylinder.</h5>
                    <h5 class="lh-lg"><i class="far fa-check-circle me-1" style="color: #fb0909;"></i> Call your distributor or emergency service for help.</h5>
                    <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Do not operate electrical switches and appliances in the room.</h5>
                            <h5 class="lh-lg"><i class="far fa-check-circle me-1 " style="color: #fb0909;"></i> Isolate main electrical supply from outside.</h5>


                </div>
            </div>
        </div>
</section>
{% endblock %}
